<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Receipt App</title>
    <link href="/static/dist/tailwind.css" rel="stylesheet" />
  </head>
  <body class="bg-blue-200 w-screen h-screen flex justify-center py-3">
    <div class="md:container md:mx-auto space-y-3">
      <h1 class="text-3xl">Your receipts</h1>
      <div class="bg-white p-6 shadow-md rounded">
        <ul class="flex flex-row justify-between items-center">
          {{range .Receipts}}
          <li>{{.Name}}</li>
          {{end}}
          <div class="flex flex-row space-x-2">
            <button class="btn btn-gray" aria-label="View">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                />
              </svg>
            </button>
            <button class="btn btn-red" aria-label="Delete">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                />
              </svg>
            </button>
          </div>
        </ul>
      </div>
      <form
        id="form"
        enctype="multipart/form-data"
        action="/upload"
        method="POST"
      >
        <div class="flex flex-row justify-between">
          <input class="input file-input" type="file" name="file" />
          <button class="btn btn-blue" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
